<div class="new-release" style="background-image: url('{{ .Param "album_art" | urls.Parse }}');">
    <div class="release-shade">
        <h3>{{ .Title }}</h3>
    </div>
    <div class="emblem-container">
        {{ if isset .Params "spotify_url" }}
        <a class="emblem" href="{{ .Param "spotify_url" }}" target="_blank">
          <img src="/emblems/spotify.svg">
        </a>
        {{ end }}
        {{ if isset .Params "applemusic_url" }}
        <a class="emblem" href="{{ .Param "applemusic_url" }}" target="_blank">
          <img src="/emblems/applemusic.svg">
        </a>
        {{ end }}
        {{ if isset .Params "soundcloud_url" }}
        <a class="emblem" href="{{ .Param "soundcloud_url" }}" target="_blank">
          <img src="/emblems/soundcloud.svg">
        </a>
        {{ end }}
    </div>
</div>
