</main>
<footer>
    <img src="tiger.png">
    <ul>
        <li><a href="https://open.spotify.com/artist/1KbojpiEHrmXsO9DRvMbcD" target="_blank">Spotify</a></li>
        <li><a href="https://soundcloud.com/crimsontigers" target="_blank">SoundCloud</a></li>
        <li><a href="/bio">YouTube</a></li>
        <li><a href="/bio">About</a></li>
        <li><a href="#">Donate</a></li>
        <li><a href="mailto:crimsontigersinfo@gmail.com">Contact</a></li>
    </ul>
    <span>Copyright &copy; {{ now.Year }} Crimson Tigers. All rights reserved</span>
</footer>

</body>
</html>
