/* Global styles*/

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #bbb;
    transition: color 0.3s;
}

a:hover {
    color: #eee;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 0;
}

h1, h2 {
    font-size: 4rem;
}

body {
    margin: 0;
    background-color: #000;
    /*background-color: #0a0a0a;*/
    color: #bbb;
}


/* Mobile */

@media only screen and (max-width: 768px) {
    html {
        font-size: 0.5em;
    }
}

/* Header */

header {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 10vw;
    background-image: url("banner.jpg");
    background-size: cover;
}

header img {
    width: 30vw;
    margin-top: 6vw;
}


/* Nav */

nav {
    position: absolute;
    top: 6vw;
}
nav#right-nav {
    left: 70vw;
    text-align: left;
}
nav#left-nav {
    right: 70vw;
    text-align: right;
}
nav#left-nav ul, nav#right-nav ul {
    display: table;
    list-style-type: none;
    height: 24vw;
    padding: 0;
    margin: 0;
}
nav#left-nav ul li, nav#right-nav ul li {
    display: table-row;
}
nav#left-nav ul li a span {
    filter: brightness(0.75);
    transition-property: filter;
    transition: 0.4s;

    color: #fff;
    font-size: 2vw;
    font-weight: bold;
}
nav#left-nav ul li a span:hover {
    filter: brightness(1);
}
nav#right-nav ul li a img {
    transform: scale(1);
    filter: brightness(0.75);
    transition-property: transform, filter;
    transition: 0.4s;

    margin: 0;
    width: 6vw;
    height: auto;
}
nav#right-nav ul li a img:hover {
    transform: scale(1.05);
    filter: brightness(1);
}

nav#top-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: solid 2px rgba(255, 255, 255, 0.1);
  transition: top 0.3s;
}
nav#top-nav.hidden {
    top: -10em;
}
nav#top-nav ul {
  margin: 0;
}
nav#top-nav ul li {
  display: inline-block;
  padding: 1rem 0;
  margin: 0;
}
nav#top-nav ul li a {
  padding: 1rem 2rem;
  margin: 0;
  color: #aaa;
  font-size: 2vw;
  transition: border-bottom 0.2s, color 0.2s;
}
nav#top-nav ul li a:hover {
  color: #fff;
  border-bottom: solid 2px rgba(255, 255, 255, 0.8);
}

/*Footer*/

footer {
    font-size: 1rem;
    text-align: center;
    color: #444;
    background-color: #0b0b0b;
    padding-top: 4rem;
}

footer div.footer-links {
    display: table;
    width: 35rem;
    height: 10vw;
    margin-left: auto;
    margin-right: auto;
}

footer ul {
    text-align: left;
    display: table-row;
    padding: 0;
}

footer ul li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
}

footer ul li a {
    color: #666;
    transition-property: color;
    transition: 0.2s;
}
footer ul li a:hover {
    color: #bbb;
    text-decoration: underline;
}

footer span {
    display: block;
    vertical-align: top;
    padding: 2rem;
    padding-top: 3rem;
}


/* Mobile */

@media only screen and (max-width: 768px) {
    header {
        margin-bottom: 25vw;
        margin-top: 2em;
    }

    header img {
        width: 80vw;
    }

    nav#left-nav {
        visibility: hidden;
    }

    nav#right-nav {
        top: 70vw;
        left: 0;
        width: 100%;
    }

    nav#right-nav ul {
        width: 60vw;
        margin-left: 20vw;
    }

    nav#right-nav ul li {
        display: table-cell;
        padding-left: 5vw;
    }

    nav#right-nav ul li a img {
        width: 10vw;
    }

    nav#top-nav.hidden {
        top: 0;
    }
}

/* New Releases */

section {
    position: relative;
    /*background-color: #111;*/
    /*border-top: 1px solid #222;*/
    /*color: #fff;*/
    margin: 0;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2em;
}

div.album-container {
    overflow: auto;
}

div.new-release {
    transition: 0.2s;
    background-size: 100% 100%;
    background-position: 0 0;

    position: relative;
    /*display: inline-block;*/
    float: left;
    color: #fff;
    width: 25%;
    padding-top: 25%;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
}
div.new-release:hover {
    background-position: -0.2em -0.2em;
    background-size: calc( 100% + 0.4em) calc(100% + 0.4em);
    /*background-size: 120% 120%;*/
}

div.new-release div.release-details {
    visibility: hidden;
    opacity: 0.0;
    transition-property: opacity;
    transition: 0.2s;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.6)
}
div.new-release:hover div.release-details {
    visibility: visible;
    opacity: 1.0;
}

div.new-release div.release-details h3 {
    top: 0.5em;
    transform: scale(0.75);
    transition: 0.3s;

    position: absolute;
    box-sizing: border-box;
    width: 100%;
    font-size: 2.5vw;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
div.new-release:hover div.release-details h3 {
    top: 1em;
    transform: scale(1);
}

div.new-release div.emblem-container {
    opacity: 0.0;
    top: calc(50% + 10vw);
    transform: scale(0.75);
    transition: 0.2s;
    transition-delay: 0.1s;

    position: absolute;
    box-sizing: border-box;
    width: 100%;
}
div.new-release:hover div.emblem-container {
    opacity: 1.0;
    top: calc( 50% + 5vw );
    transform: scale(1);
}

div.new-release div.emblem-container a img{
    height: 5vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

a.emblem-link {
    display: inline-block;
    background-color: #222;
    padding: 1em;
    border-radius: 2em;
    transition: background-color 0.3s;
}
a.emblem-link:hover {
    background-color: #234;
}
a.emblem-link img {
    width: 2em;
}

/* Mobile */

@media only screen and (max-width: 768px) {
    div.new-release {
        display: block;
        width: 100%;
        padding-top: 25%;
        background-position: 0 0;
        background-size: 100% 400%;
        transition: 0.5s;
    }
    div.new-release:hover {
        padding-top: 50%;
        background-position: 0 50%;
        background-size: 100% 200%;
    }

    div.new-release div.release-details h3 {
        font-size: 8vw;
    }

    div.new-release div.emblem-container {
        top: 40vw;
        transition: 1s;
    }

    div.new-release:hover div.emblem-container {
        top: 30vw;
    }

    div.new-release div.emblem-container a img{
        height: 12vw;
        margin-left: 6vw;
        margin-right: 6vw;
    }
}
